<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <header id="header" class="alt">
      <h1><strong><a href="index.ejs">STEM Projects</a></strong></h1>
      <nav id="nav">
        <ul>
          <li><a href="/" action="/">Home</a></li>
          <li><a href="/sci"action="/sci">Science</a></li>
          <li><a href="/tech"action="/tech">Technology</a></li>
          <li><a href="/engineering"action="/engineering">Engineering</a></li>
          <li> <a href="/info"action="/info">Login</a> </li>
        </ul>
      </nav>
    </header>
    <header class="major special">
      <h2>Engineering</h2>
    </header>
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    <script src="side.js"></script>
  </body>
</html>
