<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
		<link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>STEM Projects For Fun</h1>
<header>
  <nav>
    <ul>
      <li> <a href="home.ejs" action="/">Home</a> </li>
      <li><a href="sci.ejs">Science</a></li>
      <li><a href="tech.ejs">Technology</a></li>
      <li><a href="engi.ejs">Engineering</a></li>
      <li><a href="math.ejs">Math</a></li>
      <li> <a href="login.ejs">Login</a> </li>
    </ul>
  </nav>
</header>

<section>
  <p>Login or Signup:</p>

  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
<script src="side.js"></script>
  </body>
</html>
