	<!DOCTYPE html>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" dir="ltr">
<head>
  <title>STEM</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="style.css"/>
</head>
  <body>
    <!-- Header -->
      <header id="header">
        <h1><strong><a href="sci.ejs">Science</a></strong></h1>
        <nav id="nav">
          <ul>
            <li><a href="index.ejs" action="/">Home</a></li>
            <li><a href="generic.ejs">Generic</a></li>
            <li><a href="elements.ejs">Elements</a></li>
            <li><a href="views/sci.ejs">Science</a></li>
            <li><a href="tech.ejs">Technology</a></li>
            <li><a href="engi.ejs">Engineering</a></li>
            <li><a href="math.ejs">Math</a></li>
            <li> <a href="login.ejs">Login</a> </li>
          </ul>
        </nav>
      </header>

      <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      <section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Generic</h2>
						<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
					</header>

					<a href="#" class="image fit"><img src="thumb.jpg" alt="" /></a>
          <section>

            <p>Remember that potassium nitrate is used as a poison, so either use a cheap, throw-away grinder or wash the living hell out of it before using again. And, again, always be mindful of heat sources — no open flames, or intense heating. Slow and steady wins the race, and still has both hands when it does so. </p>
            <p>Once you’ve got your powdered sugar and powdered KNO3, you’ve got a choice. The quicker, easier, and safer way is to simply mix the ingredients by hand — don’t use the blender again, as the fuel-oxidizer mix is now technically complete. Shake well, for several minutes, to make sure you’ve got an even distribution of the two constituents, and move on to the next step in the process. On the other hand, you could also add another step by slowly (slowly!) heating the mixture until the sugar melts and suspends the potassium nitrate in a thick paste. This paste, when mixed well, offers more reliable distribution of the two chemicals than any dry-mix could hope to. Still… you’re technically heating rocket fuel. Use caution. Always wear protective gloves and goggles, and if possible do all your heating outdoors.</p>
            <p>At this point you’ve got so-called “rocket candy.” This is a low-powered rocket fuel — which is to say, be very, very careful with it. The sugar here acts like the carbon-sulfur mixture in gunpowder, the potassium nitrate like the salt-peter. The violence of the reaction this simple mixture can create ought to illustrate just how much energy is trapped in food molecules — this is why you can run for an hour straight and still burn fewer calories than you ingested at breakfast.
              <img src="rcandy.jpg" alt="Rocket candy Picture">

              Next comes the kitty litter — here, all you’re looking for is clay, so stick with the cheap stuff without additives. This heat-resistant material can be powdered and packed into our rocket tube, which will be made from open-ended plastic PVC pipe. This forms a strong and easy-to-make plug that will contain and direct our reaction. The trick is to create a marked “ramrod” of the appropriate width so you can use a hammer to really pack the clay down, across the whole width of the tube. By first putting in a clay plug, then the rocket candy (as a powder or a sludge), then another clay plug, you have created a working reaction chamber — but we still don’t have an outlet.</p>
            <p>Slowly drill your hole, being sure to drill slowly (we just avoid all unnecessary heat!) and to get all the way down to the fuel to (but not through!) the far clay plug. Now all you need is a standard, slow-burning fuse, a launch pad, and a lighter. This is basically an idealized rocket engine, a very complex idea boiled down to its essentials — and it can still go like crazy. In the video above, we see a rocket rise thousands of feet into the air, all on the power of sugar and stump-killer.</p>
          </section>
				</div>
			</section>

      <!-- Footer -->
  			<footer id="footer">
  				<div class="container">
  					<ul class="icons">
  						<li><a href="#" class="icon fa-facebook"></a></li>
  						<li><a href="#" class="icon fa-twitter"></a></li>
  						<li><a href="#" class="icon fa-instagram"></a></li>
  					</ul>
  					<ul class="copyright">
  						<li>&copy; Untitled</li>
  						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
  						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
  					</ul>
  				</div>
  			</footer>

  		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			<script src="side.js"></script>

  </body>
</html>
