<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="main.css"/>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header id="header" class="alt">
      <h1><strong><a href="index.ejs">STEM Projects</a></strong></h1>
      <nav id="nav">
        <ul>
          <li><a href="/" action="/">Home</a></li>
          <li><a href="/sci"action="/sci">Science</a></li>
          <li><a href="/tech"action="/tech">Technology</a></li>
          <li><a href="/engineering"action="/engineering">Engineering</a></li>
          <li><a href="/math"action="/math">Math</a></li>
          <li> <a href="/info"action="/info">Login</a> </li>
        </ul>
      </nav>
    </header>
    <section>
      <p>Have you ever wondered how webpages like the one you're on right now are created? Well this project will give you a glimpse of how to build your own website!</p>
      <p>First press "option, command, I" on your computer.</p>
      <p></p>
      <!-- here is where I plan to give some instructions they will be like "wow so cool" -->
      <code></code>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    <script src="side.js"></script>
  </body>
</html>
