<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Technology</h1>
    <header>
      <nav>
        <ul>
          <li> <a href="home.ejs">Home</a> </li>
          <li><a href="sci.ejs">Science</a></li>
          <li><a href="tech.ejs">Technology</a></li>
          <li><a href="engi.ejs">Engineering</a></li>
          <li><a href="math.ejs">Math</a></li>
          <li> <a href="login.ejs">Login</a> </li>
        </ul>
      </nav>
    </header>
    <section>
      <p>Have you ever wondered how webpages like the one you're on right now are created? Well this project will give you a glimpse of how to build your own website!</p>
      <p>First press "option, command, I" on your computer.</p>
      <p></p>
      <!-- here is where I plan to give some instructions they will be like "wow so cool" -->
      <code></code>
    </section>
  </body>
</html>
